/* General styling for category cards */
.welcome-container, .flight-container, .car-container, .motorbike-container {
  background-color: #c9facc; /* Light green background */
  padding: 20px;
  border-radius: 10px;
  margin: 40px 5% 0px 5%; /* Adjusted margin for responsiveness */
  max-width: 90%; /* Adjusted max-width for responsiveness */
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  border-color: #5cb85c; /* Green focus border */
}

/* Buttons */
button {
  display: block;
  margin: 0 auto; /* This centers the button horizontally */
  width: 50%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c; /* Darker green on hover */
}

/* Result container */
.result-container {
  background-color: #c9facc; /* Light blue background */
  padding: 30px;
  border-radius: 10px;
  max-width: 90%;
  margin: 0 auto;
}

.h2_comp {
  text-align: center;
  color: white;
  width: 50%;
  padding: 20px;
  margin-left: 25%;
  align-items: center;
  border-radius: 17px;
  background-color: rgb(22, 208, 100); /* Teal color */
}

.footprint-item,
.footprint-total {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.footprint-item:last-child,
.footprint-total {
  border-bottom: none;
}

.footprint-total {
  font-weight: bold;
}

span {
  color: #004d40; /* Dark teal color */
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand a {
  color: #333;
  text-decoration: none;
  font-size: 2.0rem;
  font-weight: bolder;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: #000; /* Black color for hamburger lines */
  margin: 4px 0;
  transition: 0.4s;
}
