/* src/index.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
 
}

.login-container,
.register-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: auto; /* Center the container */
  margin-top: 10%; /* Position it lower on the page */
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

.login-form h2,
.register-form h2 {
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  color: #555555;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}


* {
  box-sizing: border-box;
  
}

/* src/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand a {
  color: #333;
  text-decoration: none;
  font-size: 2.0rem;
  
  font-weight: bolder;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-items a {
  color: #333131;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
}

.nav-items a::before, .nav-items a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #333131;
  transition: all 0.4s ease-in-out;
}

.nav-items a:hover::before, .nav-items a:hover::after, .nav-items a:active::before, .nav-items a:active::after {
  width: 100%;
}

.nav-items a:hover, .nav-items a:focus, .nav-items a:active {
  color: #00C371; /* Change to your desired hover color */
}

@media (max-width: 768px) {
  .nav-items {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  .nav-items.open {
    display: flex;
  }

  .nav-toggle {
    display: flex;
  }
}

.info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom right, #00C371, #185e18);
  padding: 1%;
  margin-bottom: 10px;
  margin: 3%;
  border-radius: 20px;
}

.mainheading {
  color: white;
  font-size: 55px;
  font-weight: bolder;
  margin-top: 1px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-top: 30px;
}

.subheading {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 1px;
  padding-left: 50px;
  margin-bottom: 50px;
}

.info_detail {
  flex: 1;
  margin-right: 20px;
}

.para {
  color: white;
  font-size: 20px;
  line-height: 2;
  margin-top: 1px;
  padding-right: 20px;
  margin-bottom: 1px;
  padding-left: 50px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  margin-right: 60px;
  
}

.details_container{
  background-color: #a6f1d2;
  padding: 50px;
  margin-top: 70px;
  display: flex;
  position: relative;
  animation: mymove 9s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.card {
  flex: 1; /* Each card takes up equal space */
  margin: 30px; /* Adjust margin between cards */
  padding: 30px;
  padding-bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
  
 
}
mymove {
  from {left: 0px;}
  to {left: 300px;}
}

p{
  color: darkgreen;
  font-weight: bolder;
  line-height: 1.5;
  font-weight: bold;
}
.home_h2 {
  color: white !important;
  background-color: #00C371;
  padding: 20px;
  padding-top: 20px;
  margin-top: 1px;
  border-radius: 10px;
  font-weight: bolder;
}
ul{
  color: darkgreen;
  font-weight: bolder;
  line-height: 1.5;
  font-weight: bold;
}






.error {
  color: #ff0000;
  margin-bottom: 15px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
.button2{
  background-color: #1aa233;
  padding: 20px;
  width: 130%;
  color: white;
  font-weight: bolder;
  font-size: x-large;
  
  
}
.button2_container{
  display: flex;
  justify-content: center;
  margin-top: 1px;
  margin-left: 75%;
  padding: 40px;
  margin-bottom: 20px;
  
  
}