/* src/index.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-color: #c9facc;
}

.login-container,
.register-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto; /* Center the container */
  margin-top: 10%; /* Position it lower on the page */
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

.login-form h2,
.register-form h2 {
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  color: #555555;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: #ff0000;
  margin-bottom: 15px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* src/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9facc;
  padding: 10px 20px;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand a {
  color: #333131;
  text-decoration: none;
  font-size: 1.8rem;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-items a {
  color: #333131;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
}

.nav-items a::before, .nav-items a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #333131;
  transition: all 0.4s ease-in-out;
}

.nav-items a:hover::before, .nav-items a:hover::after, .nav-items a:active::before, .nav-items a:active::after {
  width: 100%;
}

.nav-items a:hover, .nav-items a:focus, .nav-items a:active {
  color: #3f3d3c; /* Change to your desired hover color */
}

@media (max-width: 768px) {
  .nav-items {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  .nav-items.open {
    display: flex;
  }

  .nav-toggle {
    display: flex;
  }
}
